apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: webhook
resources:
- certificate.yaml
- deployment.yaml
- namespace.yaml
- service.yaml
- webhook-configuration.yaml
images:
- name: webhook
  newName: padok.fr/webhook
  newTag: v1.0.0
